{extend name='main'}

{block name='body'}
<div class="fish-head">
    <a href="javascript:window.history.back();" class="head-back"><span>返回</span></a>
    <h3 class="head-tit"><span>客服中心</span></h3>
    <!-- <a href="javascript:;" class="head-menu"><span>提交</span></a> -->
</div>
<div class="fish-main" v-cloak>
    <div class="content-box">
        <div class="content-list">
            <a v-if="list.length>0" v-for="vo in list" :href="'{:url('home/member/article')}?id='+vo.id">
                <label>{{vo.title}}</label>
                <i></i>
            </a>
        </div>
    </div>
    <div class="dialog-bottom"></div>
</div>
{include file='menu'}
{/block}

{block name='script'}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            list: [],
            page: 0,
            status: true,
        },
        computed: {
            
        },
        methods: {
            loadList: function(){
                var self = this;
                var data = {
                    page: self.page,
                    limit: 12,
                };

                core.load("{:url('index/publics/customer_service')}", data, function(res){
                    if(res.code=='0'){
                        if(res.info.length>0) self.list = self.list.concat(res.info);
                        if(!res.info || (res.info.length<data.limit)){
                            self.status = false;
                            $('.dialog-bottom').eq(0).html('已经加载全部数据');
                        }else{
                            $('.dialog-bottom').eq(0).html('正在加载...');
                        }
                    }else{
                        core.toast(res.message);
                    }
                })
            }
        },
        mounted: function(){
            var self = this;
            self.loadList();
            // 下拉加载
            $(window).off("scroll").on("scroll", function(e){
                var totalheight = parseFloat($(this).height()) + parseFloat($(this).scrollTop());
                if (($(document).height()<=totalheight) && self.status){
                    self.page = ++self.page;
                    self.loadList()
                }
            });
        }
    });
</script>
{/block}

{block name="style"}
<style>
    
</style>
{/block}