<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>矿机商城</title>
        {include file="t/head" /}
        <link rel="stylesheet" type="text/css" href="/t/css/mall.css"/>
    </head>
    <body style="background: white;">
        <header class="mui-bar mui-bar-nav mui-bar-nav-bg">
            <a id="icon-menu" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
            <h1 class="mui-title">矿机商城</h1>
        </header>
        <div class="mui-content" style="background: white;">
            <h4>雇农矿机 : 10FSC</h4>
            <div class="hire">
                <div class="dig">
                    <p>动态挖矿</p>
                    <img src="/t/img/wakuang.png"/>
                    <div></div>
                </div>
                <div style="width:63%;margin: -50px auto;height: 2px;background: #81cbff;"></div>
                <div style="width: 2px;height: 50px;background: #81cbff;margin-top: 49px;margin-left: 18%;"></div>
                <div style="width: 2px;height: 50px;background: #81cbff;margin-top: -51px;float: right;margin-right: 18%;"></div>
                <div class="mui_tu">
                    <div>
                        <img src="/t/img/cahnliang.png"/>
                        <p>产量<br>0.2每天</p>
                    </div>
                    <div>
                        <img src="/t/img/zhouqi.png"/>
                        <p>周期<br>120天</p>
                    </div>
                    <div>
                        <img src="/t/img/shouyi.png"/>
                        <p>总收益<br>24</p>
                    </div>
                </div>			
            </div>
            <div style="height: 10px;background: #e8f5ff;margin-top: 45%;"></div>

            <h4>小农矿机 : 10FSC</h4>
            <div class="hire">
                <div class="dig">
                    <p>动态挖矿</p>
                    <img src="/t/img/wakuang.png"/>
                    <div></div>
                </div>
                <div style="width:63%;margin: -50px auto;height: 2px;background: #81cbff;"></div>
                <div style="width: 2px;height: 50px;background: #81cbff;margin-top: 49px;margin-left: 18%;"></div>
                <div style="width: 2px;height: 50px;background: #81cbff;margin-top: -51px;float: right;margin-right: 18%;"></div>
                <div class="mui_tu">
                    <div>
                        <img src="/t/img/cahnliang.png"/>
                        <p>产量<br>0.2每天</p>
                    </div>
                    <div>
                        <img src="/t/img/zhouqi.png"/>
                        <p>周期<br>120天</p>
                    </div>
                    <div>
                        <img src="/t/img/shouyi.png"/>
                        <p>总收益<br>24</p>
                    </div>
                </div>			
            </div>
            <div style="height: 10px;background: #e8f5ff;margin-top: 45%;"></div>

            <h4>小农矿机 : 10FSC</h4>
            <div class="hire">
                <div class="dig">
                    <p>动态挖矿</p>
                    <img src="/t/img/wakuang.png"/>
                    <div></div>
                </div>
                <div style="width:63%;margin: -50px auto;height: 2px;background: #81cbff;"></div>
                <div style="width: 2px;height: 50px;background: #81cbff;margin-top: 49px;margin-left: 18%;"></div>
                <div style="width: 2px;height: 50px;background: #81cbff;margin-top: -51px;float: right;margin-right: 18%;"></div>
                <div class="mui_tu">
                    <div>
                        <img src="/t/img/cahnliang.png"/>
                        <p>产量<br>0.2每天</p>
                    </div>
                    <div>
                        <img src="/t/img/zhouqi.png"/>
                        <p>周期<br>120天</p>
                    </div>
                    <div>
                        <img src="/t/img/shouyi.png"/>
                        <p>总收益<br>24</p>
                    </div>
                </div>			
            </div>
            <div style="height: 10px;background: #e8f5ff;margin-top: 45%;"></div>

            <h4>地主矿机 : 10FSC</h4>
            <div class="hire">
                <div class="dig">
                    <p>动态挖矿</p>
                    <img src="/t/img/wakuang.png"/>
                    <div></div>
                </div>
                <div style="width:63%;margin: -50px auto;height: 2px;background: #81cbff;"></div>
                <div style="width: 2px;height: 50px;background: #81cbff;margin-top: 49px;margin-left: 18%;"></div>
                <div style="width: 2px;height: 50px;background: #81cbff;margin-top: -51px;float: right;margin-right: 18%;"></div>
                <div class="mui_tu">
                    <div>
                        <img src="/t/img/cahnliang.png"/>
                        <p>产量<br>0.2每天</p>
                    </div>
                    <div>
                        <img src="/t/img/zhouqi.png"/>
                        <p>周期<br>120天</p>
                    </div>
                    <div>
                        <img src="/t/img/shouyi.png"/>
                        <p>总收益<br>24</p>
                    </div>
                </div>			
            </div>
        </div>
    </body>

</html>