{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>
<section class="panel">
    <header class="panel-heading">
        <h4>团队大额转让警报列表</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <!--<form class="form-horizontal" action="{:url('admin/Money/rechargeLog')}" >
            <div class="form-group">
                <div class="col-xs-1 no-pd-r">
                    <select name="types" class="form-control">
                        <option  value="0">全部类型</option>
                        {foreach $types as $i=>$m}
                        <option {if $Request.get.types == $i}selected{/if} value="{$i}">{$m}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-xs-1 no-pd-r">
                    <select name="numtypes" class="form-control">
                        <option  value="0">数据类型</option>
                        <option {if $Request.get.numtypes == 1}selected{/if} value="1">添加</option>
                        <option {if $Request.get.numtypes == 2}selected{/if} value="2">扣除</option>
                    </select>
                </div>
                <div class="col-xs-1 no-pd-r">
                    <select name="type" class="form-control">
                        <option {if $Request.get.type == 'nick_name'} selected {/if} value="nick_name">用户名称</option>
                    </select>
                </div>
                <div class="col-xs-3 no-pd-l">
                    <input type="text" value="{$Request.get.keyword}" name="keyword" class="form-control" placeholder="请输入关键词搜索">
                </div>
                <div class="col-xs-2 no-pd-2">
                    <input type="text" value="{$Request.get.startTime}" name="startTime" id="startTime" class="form-control" placeholder="请输入开始时间">
                </div>
                <div class="col-xs-2 no-pd-2">
                    <input type="text" value="{$Request.get.endTime}" name="endTime" id="endTime" class="form-control" placeholder="请输入结束时间">
                </div>
                <button type="submit" class="btn btn-color">搜索</button>
            </div>
        </form>-->
        <table class="table table-bordered table-striped no-margin">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">团队长昵称</th>
                    <th class="text-center">转让总额</th>
                    <th class="text-center">备注</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
            {if $list}
                {foreach $list as $order}
					{if $order->total >= $team_withdraw_num}
                    <tr>
                        <td class="text-center">{$order->id}</td>
                        <td class="text-center">
                            {$order->team_name}
                        </td>
                        <td class="text-center">
                            {$order->total}
                        </td>
                        <td class="text-center">
                            {$order->remark}
                        </td>
                        <td class="text-center">
                           <a class="btn btn-xs btn-info" href = "{:url('admin/money/check_team_detail')}?tid={$order->tid}">查看团队详情</a>
                        </td>
                    </tr>
					{/if}
                {/foreach}
            {else /}
                <tr class="text-center">
                    <td colspan="8">暂无数据</td>
                </tr>
            {/if}
            </tbody>
        </table>
        <div class="page">
            {:htmlspecialchars_decode($list->render())}
        </div>
    </div>
</section>
<script>
    laydate.render({
        elem: '#startTime',
        type: 'datetime'
    });
    laydate.render({
        elem: '#endTime',
        type: 'datetime'
    });
</script>
{/block}


{block name="footer"}

{/block}
