{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>团队详情列表</h4>
        <a href="{:url('admin/Team/leadersList')}" class="btn btn-success ">返回</a>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        <form class="form-horizontal" action="{:url('admin/team/leaderslistdetail')}" >
            <div class="form-group">

                <div class="col-xs-1 no-pd-r">
                    <select name="type" class="form-control">
                        <option {if $Request.get.type == 'nick_name'} selected {/if} value="nick_name">用户昵称</option>
                        <option {if $Request.get.type == 'ids'} selected {/if} value="ids">ID</option>

                    </select>
                </div>
                <div class="col-xs-3 no-pd-l">
                    <input type="text" value="{$Request.get.keyword}" name="keyword" class="form-control" placeholder="请输入关键词搜索">
                    <input type="hidden" value="{$Request.param.id}" name="id">
                </div>
                <button type="submit" class="btn btn-color">搜索</button>
            </div>
        </form>
        <table class="table table-bordered table-striped no-margin">
            <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">成员信息</th>
                <th class="text-center">等级</th>
                <th class="text-center">用户状态</th>
                <th class="text-center">推荐人</th>
                <th class="text-center">人数</th>
                <th class="text-center">领取房产数</th>
                <th class="text-center">预约房产数</th>
                <th class="text-center">消耗GTC</th>
                <th class="text-center">现在GTC</th>
                <th class="text-center">历史GTC</th>
                <th class="text-center">收益</th>
                <th class="text-center">推广收益</th>
                <th class="text-center">团队收益</th>
				<th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {if $list}
            {foreach $list as $order}
            <tr>
                <td class="text-center">{$order->invite_code}</td>
                <td class="text-center">
                    <a href="{:url('Team/leadersListDetail',['id'=>$order->id])}" {if $team->getChildCount($order->id)}onclick="return false;"{/if} class="btn btn-xs btn-info">{$order->nick_name}</a>
                </td>
                <td class="text-center">
                    {$order->lv|user_lv_status}
                </td>
                <td class="text-center">
                    {$query->getStatus($order->status)}
                </td>
                <td class="text-center">
                    {$order->leader}
                </td>
                <td class="text-center">
                    {$order->t_num}
                </td>
                <td class="text-center">
                    {$order->adopt_num}
                </td>
                <td class="text-center">
                    {$order->pre_num}
                </td>
                <td class="text-center">
                    {$order->reducep_num}
                </td>
                <td class="text-center">
                    {$order->now_num}
                </td>
                <td class="text-center">
                    {$order->addp_num}
                </td>
                <td class="text-center">
                    {$order->profit}
                </td>
                <td class="text-center">
                    {$order->now_prohibit_integral}
                    {if $order->is_prohibit_extension == 1}
                    <a class="btn btn-xs btn-danger">冻结</a>
                    {/if}
                </td>
                <td class="text-center">
                    {$order->now_team_integral}
                    {if $order->is_prohibitteam == 1}
                    <a class="btn btn-xs btn-danger">冻结</a>
                    {/if}
                </td>

				<td class="text-center">
                    <a href="{:url('admin/team/upPid',['id'=>$order->id])}" class="btn btn-xs btn-info">修改上级</a>
                </td>
            </tr>
            {/foreach}
            {else /}
            <tr class="text-center">
                <td colspan="8">暂无数据</td>
            </tr>
            {/if}
            </tbody>
        </table>
        <div class="page">
            {:htmlspecialchars_decode($list->render())}
        </div>
    </div>
</section>
{/block}


{block name="footer"}

{/block}
