{extend name="layout/main" /}

{block name="header"}

{/block}

{block name="content"}
<section class="panel">
    <header class="panel-heading">
        <h4>处理实名审批-处理结果</h4>
    </header>
    <div class="panel-body" style="padding-bottom: 50px">
        {if $status==1}
        <h2>通过！</h2>
        <p>用户已实名并激活完成。</p>
        {elseif $status==2 /}
        <h2>驳回！</h2>
        {/if}
        <button type="button" onclick="javascript:history.back(-1);" class="btn btn-warning">
            返回
        </button>
    </div>
    
</section>
{/block}

{block name="footer"}
    <script src="/admin/vendor/fuelux/checkbox.js"></script>
{/block}