<nav class="mui-bar mui-bar-tab my-nav">
<!--    <a class="mui-tab-item mui-active" href="{:url('index/index','','',true)}" >
        <span class="mui-icon mui-icon-home"></span>
        <img src="/static/img/dbsy.png" data-image="dbsy">
        <span class="mui-tab-label">首页</span>
    </a>-->
    <a class="mui-tab-item mui-icon-extra mui-icon-extra-cart" href="{:url('product/index','','',true)}" >
        <span class="mui-tab-label">茶园商城</span>
    </a>
    <a class="mui-tab-item mui-icon-extra mui-icon-extra-gold" href="{:url('member/magicbox','','',true)}" >
        <span class="mui-tab-label">我的茶园</span>
    </a>
    <a class="mui-tab-item mui-icon-extra mui-icon-extra-trend" href="{:url('market/index','','',true)}" >
        <span class="mui-tab-label">交易中心</span>
    </a>
    <a class="mui-tab-item mui-icon mui-icon-person" href="{:url('member/index','','',true)}" >
        <span class="mui-tab-label">个人中心</span>
    </a>
</nav>